*{
    margin: 0;
}

body {
    background-color: #f7e4d4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

/* @media only screen and (max-width: 520px) {
    body {
        margin-left: 20px;
        margin-right: 20px;
    }
} */

h1 {
    font-family: 'EB Garamond', serif;
    font-size: 48px;
    color: #467745;
    font-weight: normal;

}

@media only screen and (max-width: 520px) {
    h1 {
        font-size: 36px;
        text-align: left;
    }
}

.subject {
    width: 100%;
    max-width: 450px;
    height: 64px;
    max-height: 64px;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 16px;
    padding: 15px;
    color: #467745;
    border: 0;
    margin-top: 20px;
    box-sizing: border-box;

}

@media only screen and (max-width: 520px) {
    .subject {
        width: calc(100vw - 40px);
        margin-left: 20px;
        margin-right: 20px;
    }
}

::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 16px;
    opacity: 0.9;
    color:#467745;


}

textarea {
    /* box-sizing: border-box; */
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    max-width: 450px;
    height: 120px;
    max-height: 120px;
    margin-top: 20px;
    border: 0;
    padding: 15px;
    opacity: 0.9;
    resize: none;
    box-sizing: border-box;
}

@media only screen and (max-width: 520px) {
    textarea {
        width: calc(100vw - 40px);
        margin-left: 20px;
        margin-right: 20px;
    }
}

#check {
    flex-direction: row;
    margin-top: 40px;
    box-sizing: border-box;
}

@media only screen and (max-width: 520px) {
    input #check {
        margin-left: 20px;
        box-sizing: border-box;
    }
}

label {
    color: #467745;
    width: 100%;

}

button {
    font-family: 'EB Garamond', serif;
    font-weight: medium;
    font-size: 21px;
    width: 280px;
    height: 80px;
    border-radius: 40px;
    border: 0;
    color: #f7e4d4;
    background-color: #467745;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-top: 40px;

}
